@import "./config.less";

.cd10-text {
  font-family: @font-base;
  color: @colors[main-color] !important;
}

p,
b,
i,
h1,
h2,
h3,
h4,
h5,
h6 {
  .cd10-text();
}

// Containers for content
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-start {
  justify-content: flex-start;
  align-content: flex-start;
}

.flex-even {
  justify-content: space-evenly;
  align-content: flex-start;
}

.flex-between {
  justify-content: space-between;
  align-content: flex-start;
}

.flex-center {
  justify-content: center;
  align-content: flex-start;
}

// Overall styling classes
.sheet-background {
  background: url(./assets/backgrounds/sheet_background.webp);
  color: @colors[main-color];
}

.sheet-card {
  background: url(./assets/backgrounds/card_background.webp);
  border-style: solid;
  border-width: 3px;
  border-image: radial-gradient(black, @colors[main-color]) 1;
  padding: 5px;
  box-shadow: 5px 10px 10px rgb(0, 0, 0, 0.5);
  margin: 0 5px 10px 5px;
  color: @colors[main-color];
}

.card-detail {
  background: url(./assets/backgrounds/card_detail_background.webp);
  border-style: solid;
  border-width: 3px;
  border-image: radial-gradient(black, @colors[accent-color]) 1;
  box-shadow: inset 2px 2px 10px 5px black;
  padding: 4px;
  margin: 0 5px 10px 5px;
}

.item-roll {
  img {
    max-width: 15px;
    margin-top: 5px;
    margin-right: 5px;
    border: none;
  }
}

.pad-8 {
  padding: 8px;
}

.pad-4 {
  padding: 4px;
}

.pad-2 {
  padding: 2px;
}

.sheet .editor-content {
  .sheet-card();
}

.sheet-body .tab .editor {
  height: 100%;
}

.sheet-body,
.sheet-body .tab {
  height: 100%;
}

.cd10-button {
  background: url(./assets/backgrounds/card_detail_background.webp);
  color: @colors[main-color];
  border-style: solid;
  border-width: 3px;
  border-image: radial-gradient(black, @colors[accent-color]) 1;
  border-radius: 10px;
  padding: 4px;
  margin: 0 5px 10px 5px;
  box-shadow: 5px 10px 10px rgb(0, 0, 0, 0.5);
}

.cd10-button:hover {
  box-shadow: inset 2px 2px 10px 5px black;
}

.window-content {
  .sheet-background() !important;
}

a.entity-link,
a.content-link,
a.inline-roll {
  background-color: @colors[dark-bkg];
  color: @colors[main-color];
}

button {
  background: url(./assets/backgrounds/card_detail_background.webp) !important;
  color: @colors[main-color];
  border-style: solid;
  border-width: 2px;
  border-image: radial-gradient(black, @colors[accent-color]) 1 !important;
  border-radius: 3px !important;
  box-shadow: 5px 10px 10px rgb(0, 0, 0, 0.5);
  padding: 2px;
  margin: 4px;
}

select {
  .cd10-text();
  option {
    background-color: @colors[dark-bkg];
  }
}

input,
textarea {
  .cd10-text();
}

#navigation {
  #nav-toggle {
    .card-detail();
  }
  #scene-list {
    .scene {
      .card-detail();

      .scene-name {
        .cd10-text();
      }
    }
    .active {
      .card-detail() !important;
    }

    .view {
      .sheet-card() !important;
    }

    .gm {
      .card-detail() !important;
      filter: grayscale();
    }
  }
}

.tox {
  &.tox-tinymce {
    background: url(./assets/backgrounds/sheet_background.webp) !important;
    padding: 2px;
  }

  .tox-edit-area__iframe {
    background: url(./assets/backgrounds/card_background.webp) !important;
  }

  .tox-toolbar__primary {
    background: url(./assets/backgrounds/card_detail_background.webp) !important;
  }

  .tox-tbtn {
    background-color: @colors[accent-color] !important;
    color: var(--font-color) !important;
  }
  .tox-icon {
    color: var(--font-color) !important;
  }
}

@import "./namedCharacter-sheet.less";
@import "./skill-card.less";
@import "./trait-card.less";
@import "./armor-card.less";
@import "./weapon-card.less";
@import "./skill-list.less";
@import "./spell-list.less";
@import "./inventory-list.less";
@import "./character-description-box.less";
@import "./character-stat-block.less";
@import "./item-sheet.less";
@import "./small-stats.less";
@import "./mookCharacter-sheet.less";
@import "./cd10-dialog.less";
@import "./chat-physical-save.less";
@import "./chat-attack-roll.less";
@import "./chat.less";
