// Variables
@main-color: rgb(223, 187, 97);
@accent-color: rgb(107, 108, 101);
@black: rgb(0, 0, 0);
@main-font: "Signika", sans-serif;

@sheetbkg: "./assets/backgrounds/sheet_background.webp";
@sheetcard: "./assets/backgrounds/card_background.webp";
@sheetcarddetail: "./assets/backgrounds/card_detail_background.webp";

// Usable functions
.base-text {
  color: @main-color;
  font-family: @main-font;
}

.box-shadow {
  box-shadow: 5px 10px 10px fade(@black, 50%);
}

.inset-box-shadow {
  box-shadow: inset 2px 2px 10px 5px fade(@black, 50%);
}

.card-margin {
  margin: 0 5px 10px 5px;
}

.card-border {
  border-style: solid;
  border-width: 3px;
}

.card {
  .pad-4();
  .card-margin();
  .card-border();
  .box-shadow();
}

.pad-8 {
  padding: 8px;
}

.pad-4 {
  padding: 4px;
}

.pad-2 {
  padding: 2px;
}

// Containers for content
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-start {
  justify-content: flex-start;
  align-content: flex-start;
}

.flex-even {
  justify-content: space-evenly;
  align-content: flex-start;
}

.flex-between {
  justify-content: space-between;
  align-content: flex-start;
}

.flex-center {
  justify-content: center;
  align-content: flex-start;
}

// Overall styling classes
.sheet {
  background: url("@{sheetbkg}");
  .base-text();
}

.sheet-card {
  .card();
  .box-shadow();
  .base-text();
  background: url("@{sheetcard}");
  border-image: radial-gradient(@black, @main-color) 1;  
}

.sheet-card-detail {
  .card();
  .inset-box-shadow();
  .base-text();
  background: url("@{sheetcarddetail}");
  border-image: radial-gradient(@black, @accent-color) 1;
}

.item-roll {
  img {
    max-width: 15px;
    margin-top: 5px;
    margin-right: 5px;
    border: none;
  }
}

.sheet-body .tab .editor {
  height: 100%;
}

.sheet-body,
.sheet-body .tab {
  height: 100%;
}

.button {
  .card();
  background: url("@{sheetcarddetail}");
  border-image: radial-gradient(@black, @accent-color) 1;
  border-radius: 10px;  
}

.button:hover {
  .inset-box-shadow();
}

@import "./namedCharacter-sheet.less";
@import "./skill-card.less";
@import "./trait-card.less";
@import "./armor-card.less";
@import "./weapon-card.less";
@import "./skill-list.less";
@import "./spell-list.less";
@import "./inventory-list.less";
@import "./character-description-box.less";
@import "./character-stat-block.less";
@import "./item-sheet.less";
@import "./small-stats.less";
@import "./mookCharacter-sheet.less";
@import "./cd10-dialog.less";
@import "./chat-physical-save.less";
@import "./chat-attack-roll.less";
@import "./cd10-tinymce.less";
