.cd10-dialog {
  width: fit-content !important;
  height: fit-content !important;

  background: url(./assets/backgrounds/card_background.jpg);
  border-style: solid;
  border-width: 3px;
  border-image: radial-gradient(black, var(--font-color)) 1;
  padding: 5px;
  box-shadow: 5px 10px 10px rgb(0, 0, 0, 0.5);
  margin-bottom: 10px;
  color: var(--font-color);

  .window-content {
    color: var(--font-color) !important;
    font-family: var(--font-main);
    background: url(./assets/backgrounds/card_background.jpg);

    select {
      border: none;
      color: var(--font-color);
      font-family: var(--font-main);
      background: url(./assets/backgrounds/card_detail_background.jpg);
    }

    select option {
      background-color: black;
      font-family: var(--font-main);
    }
  }
}
