.cd10-dialog {
  width: fit-content !important;
  height: fit-content !important;
  padding: 10px;

  background: url("@{sheetcarddetail}");
  border-style: solid;
  border-width: 3px;
  border-image: radial-gradient(black, @accent-color) 1;
  box-shadow: inset 2px 2px 10px 5px black;
  color: @main-color;

  h3 {
      text-align: center;
  }
  
  .window-content {
    color: @main-color !important;
    font-family: @main-font;
    background: url("@{sheetcard}");

    select,
    input {
      border: none;
      color: @main-color;
      font-family: @main-font;
      background: url("@{sheetcarddetail}");
    }

    select option {
      background-color: black;
      font-family: @main-font;
    }
  }
}
