.health-info {
  .stat-element {
    margin-bottom: 10px;

    .shock-icons,
    .wounds-icons {
      display: flex;
      flex-direction: row;
      justify-content: center;

      .dot-container {
        color: white;
      }

      .crossed {
        filter: invert();
      }
    }
  }
}

.stat-value {
  text-align: center;
}
