.cd10.sheet.item {
  display: flex;
  flex-direction: column;
  justify-content: start;
  
  img {
    width: 150px;
    height: 150px;
    box-shadow: 5px 10px 10px rgb(0, 0, 0, 0.5);
    background: url(./assets/backgrounds/card_detail_background.jpg);
  }

  input {
    border: none;
    background: none;
    color: var(--font-color);
    width: 50%;
  }

  select {
    border: none;
    color: var(--font-color);
    background-color: black;
    font-family: var(--font-main);
    background: url(./assets/backgrounds/card_detail_background.jpg);
  }

  select option {
    background-color: black;
    font-family: var(--font-main);
  }

  table {
    border: none;
    border-collapse: separate;
    border-spacing: 5px;

    tr {
      background: unset;
      background-color: unset;
    }

    th,
    td {
      background: url(./assets/backgrounds/card_detail_background.jpg);
      border-style: solid;
      border-width: 1px;
      border-image: radial-gradient(black, var(--accent-color)) 1;
      box-shadow: inset 2px 2px 10px 5px black;
      vertical-align: middle;
      text-align: center;
      padding: 4px 5px 4px 5px;
    }
  }

  .window-content {
    background: url(./assets/backgrounds/card_background.jpg);
    border-style: solid;
    border-width: 3px;
    border-image: radial-gradient(black, var(--font-color)) 1;
    padding: 5px;
    color: var(--font-color);

    form {
      select {
        border: none;
        color: var(--font-color);
      }

      h1 {
        border: none;
        text-align: center;

        input {
          height: fit-content;
        }
      }

      hr {
        border-color: var(--font-color);
        width: 150px;
      }

      .generic-info-box,
      .weapon-and-armor-stats,
      .editor-box {
        margin: 0 10px 10px 0;
      }

      .generic-info-box {
        width: 100%;
        height: 150px;
        margin-left: 10px;
      }

      .editor-box {
        .editor {
          max-height: 140px;
          overflow: auto;

          .editor-content {
            min-height: 100px;
          }
        }
      }
    }
  }
}
