.cd10.sheet.mookCharacter {
  h1,
  h2,
  h3,
  p,
  label,
  .sheet-header,
  input,
  textarea,
  .stat-element,
  .fa,
  .far,
  .fas {
    color: @colors[main-color];
  }

  .window-content {
    background: url(./assets/backgrounds/sheet_background.webp);
  }

  form {
    display: flex;
    flex-direction: column;

    select {
      border: none;
      color: @colors[main-color];
      background-color: black;
      font-family: @font-base;
      background: url(./assets/backgrounds/card_detail_background.webp);
    }

    select option {
      font-family: @font-base;
    }

    // Headers 
    h1 {
      font-size: 2em;
      margin-right: 5px;
      border: none;

      input {
        height: auto;
        padding: 5px;
      }
    }

    h1,
    h3 {
      text-align: center;
    }

    // General settings 
    input {
      border: none;
      background: none;
      text-align: center;
    }

    .actor-image {
      max-height: 225px;
    }

    hr {
      width: 150px;
      margin-top: 5px;
      margin-bottom: 5px;
      border-color: @colors[main-color];
    }

    table {
      border: none;
      border-collapse: separate;
      border-spacing: 5px;

      tr {
        background: unset;
        background-color: unset;
      }

      th,
      td {
        background: url(./assets/backgrounds/card_detail_background.webp);
        border-style: solid;
        border-width: 1px;
        border-image: radial-gradient(black, @colors[accent-color]) 1;
        box-shadow: inset 2px 2px 10px 5px black;
        vertical-align: middle;
        text-align: center;
        padding: 4px 5px 4px 5px;
        color: inherit;
      }
    }

    .header-box,
    .title-box,
    .equipment-list {
      width: 100%;
    }

    .title-box {
      margin-right: 0 10px 0 10px;
    }

    .body-box {
      padding: 10px;
    }

    .center {
      text-align: center;
    }

    .quote {
      textarea {
        resize: none;
        min-height: unset;
        max-height: 27px;
        text-align: center;
        font-style: italic;
        border: none;
        background: none;
        font-family: @font-base;
      }
    }

    .display-inline {
      display: inline;
    }
    
    .weapon-item {
      margin-right: 5px;
    }

    .ammo-select {
      .far {
        padding-right: 8px;
      }
    }

    .d10-roll-icon {
      img {
        padding-top: 4px;
        margin-left: 5px;
        width: 15px;
        border: none;
      }
    }

    .item-delete {
      .fas {
        text-align: right;
      }
    }
  }
}
