.cd10.sheet {
  .hidden {
    display: none;
  }
}

.cd10.sheet.namedCharacter {
  min-width: 750px;
  min-height: 700px;
  max-width: 1000px;
  max-height: 1920px;

  .window-content {
    background: url(./assets/backgrounds/sheet_background.jpg);
  }

  form {
    color: var(--font-color);

    .item-roll {
      img {
        max-width: 15px;
        margin-top: 5px;
        margin-right: 5px;
        border: none;
      }
    }

    select {
      border: none;
      color: var(--font-color);
      font-family: var(--font-main);
      background: url(./assets/backgrounds/card_detail_background.jpg);
    }

    select option {
      background-color: black;
      font-family: var(--font-main);
    }

    .editor {
      height: 100%;
      min-height: 100px;

      .editor-content {
        min-height: 100px;
        color: var(--font-color);
      }
    }

    input {
      border: none;
      background: none;
      color: var(--font-color);
    }

    table {
      border: none;
      border-collapse: separate;
      border-spacing: 5px;

      tr {
        background: unset;
        background-color: unset;
      }

      th,
      td {
        background: url(./assets/backgrounds/card_detail_background.jpg);
        border-style: solid;
        border-width: 1px;
        border-image: radial-gradient(black, var(--accent-color)) 1;
        box-shadow: inset 2px 2px 10px 5px black;
        vertical-align: middle;
        text-align: center;
        padding: 4px 5px 4px 5px;
      }
    }

    .sheet-tabs {
      margin-bottom: 10px;
    }

    .sheet-notes {
      table {
        border: none;

        td {
          color: var(--font-color);
        }
        tr {
          background: unset;
          background-color: unset;
        }
      }
      .editor-content {
        min-height: 521px;
      }
    }

    .sheet-card {
      background: url(./assets/backgrounds/card_background.jpg);
      border-style: solid;
      border-width: 3px;
      border-image: radial-gradient(black, var(--font-color)) 1;
      padding: 5px;
      box-shadow: 5px 10px 10px rgb(0, 0, 0, 0.5);
      margin-bottom: 10px;
      color: var(--font-color);
    }

    .dark-background {
      background: url(./assets/backgrounds/card_detail_background.jpg);
      border-style: solid;
      border-width: 3px;
      border-image: radial-gradient(black, var(--accent-color)) 1;
      box-shadow: inset 2px 2px 10px 5px black;
      padding: 4px;
      margin-bottom: 10px;
    }

    h1 {
      font-size: 2em;
      border: none;
      padding: 3px;
    }

    h1,
    h3 {
      text-align: center;
    }

    hr {
      border-color: var(--font-color);
      width: 150px;
      margin-bottom: 20px;
    }

    .sheet-main-content {
      margin-right: 10px;
      width: 80%;
    }

    .image-box {
      width: 20%;

      img {
        min-width: 200px;
        min-height: 200px;
        box-shadow: 5px 10px 10px rgb(0, 0, 0, 0.5);
      }
    }

    .encumbrance-list {
      display: flex;
    }

    .sheet-sidebar {
      padding: 10px;

      .red {
        color: red;
        font-weight: 700;
      }

      .sheet-card {
        margin-top: 5px;
        margin-bottom: 5px;
      }

      input {
        width: 30px;
        text-align: center;
      }

      .sheet-money {
        .money {
          padding-top: 4px;
        }
      }
    }
  }
}
