.cd10.sheet.namedCharacter {
  min-width: 200px;
  min-height: 300px;
  background-image: url("./assets/backgrounds/sheet-background.jpeg");

  form {
    h1 {
      font-size: 2em;
      border: none;
      padding: 3px;
    }

    h1,
    h3 {
      text-align: center;
    }

    input {
      border: none;
    }

    .sheet-main-content {
      margin-right: 10px;
      width: 80%;
    }

    .image-box {
      width: 20%;

      img {
        min-width: 200px;
        min-height: 200px;
      }
    }

    .sheet-sidebar {
      padding: 10px;

      input {
        width: 30px;
        text-align: center;
        
      }

      .sheet-money {
        .money {
          padding-top: 5px;
        }
      }
    }
  }
}
