.skill-list,
.traits-list {
  width: 49%;

  .attribute-pair {
    .attribute-name {
      text-align: left;
      vertical-align: middle;
      padding: 2px;
      padding-top: 4px;
      width: calc(100% - 2px);
    }
    .attribute-value {
      text-align: right;
      width: 25px;
      font-weight: 700;
      margin-right: 10px;
    }
  }

  .item-delete {
    vertical-align: middle;
    padding-top: 4px;
  }

  input {
    width: 20px;
    text-align: center;
    vertical-align: middle;
  }
}