.weapon-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .item-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width: 50px;
  }

  .weapon-name {
    text-transform: uppercase;
    text-align: center;
  }

  .weapon-pair-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .weapon-stats {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .stat-name,
      .weapon-statvalue {
        padding: 2px 5px 2px 0px;
      }

      .stat-name {
        text-align: left;
        text-transform: capitalize;
      }

      .weapon-statvalue {
        text-align: center;
        text-transform: capitalize;
      }
    }
  }
}
