.weapon-card {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .item-img {
    display: block;
    margin: 0 10px 0 3px;
    max-width: 100px;
    max-height: 100px;
  }

  .d10-roll-icon {
    height: 10px;
    margin-right: 0px;
    margin-left: 2px;
  }

  .weapon-name {
    text-align: left;
    font-size: 1.25em;
    vertical-align: middle;
    text-align: center;
    margin-bottom: 10px;
  }

  .description-box,
  .ammo-box {
    width: 100%;
    max-height: 150px;
    overflow: auto;
  }

  .weapon-box {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-right: 10px;
    min-width: 150px;

    .weapon-stats {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      box-shadow: 2px 2px 2px black;

      .stat-name,
      .weapon-statvalue {
        padding: 2px 5px 2px 0px;
      }

      .stat-name {
        text-align: left;
        text-transform: capitalize;
      }

      .weapon-statvalue {
        text-align: right;
        text-transform: capitalize;
      }
    }
  }
}
