@font-face {
  font-family: 'Russo One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/russoone/v14/Z9XUDmZRWg6M1LvRYsH-yA.ttf) format('truetype');
}
.cd10-sheet {
  background: url(assets/backgrounds/sheet_background.webp);
}
.cd10-card {
  background: url(assets/backgrounds/card_background.webp);
  border-style: solid;
  border-width: 3px;
  border-image: radial-gradient(black, #dfbb61) 1;
  box-shadow: 5px 10px 10px #000000;
  margin: 0 5px 10px 5px;
  padding: 4px;
}
.cd10-card-detail {
  background: url(assets/backgrounds/card_detail_background.webp);
  border-style: solid;
  border-width: 3px;
  border-image: radial-gradient(black, #6b6c65) 1;
  box-shadow: inset 2px 2px 10px 5px black;
  margin: 0 5px 5px 5px;
  padding: 4px;
}
.cd10-button {
  background: url(assets/backgrounds/card_detail_background.webp);
  color: #dfbb61;
  border-style: solid;
  border-width: 3px;
  border-image: radial-gradient(black, #6b6c65) 1;
  border-radius: 10px;
  padding: 4px;
  margin: 0 5px 10px 5px;
  box-shadow: 5px 10px 10px #000000;
}
.cd10-button:hover {
  box-shadow: inset 2px 2px 10px 5px black;
}
.item-roll img {
  max-width: 15px;
  margin-top: 5px;
  margin-right: 5px;
  border: none;
}
.cd10-text {
  color: #dfbb61 !important;
}
.cd10-base-text {
  color: #dfbb61 !important;
  font-family: "Signika", sans-serif;
}
.cd10-header {
  color: #dfbb61 !important;
  font-family: "Russo One", sans-serif;
}
p,
b,
i {
  color: #dfbb61 !important;
  font-family: "Signika", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #dfbb61 !important;
  font-family: "Russo One", sans-serif;
}
h1 {
  font-size: 2em;
  border: none;
  padding: 3px;
}
hr {
  border-color: #dfbb61;
  width: 150px;
  margin-bottom: 20px;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-start {
  justify-content: flex-start;
  align-content: flex-start;
}
.flex-even {
  justify-content: space-evenly;
  align-content: flex-start;
}
.flex-between {
  justify-content: space-between;
  align-content: flex-start;
}
.flex-center {
  justify-content: center;
  align-content: flex-start;
}
.pad-8 {
  padding: 8px;
}
.pad-4 {
  padding: 4px;
}
.pad-2 {
  padding: 2px;
}
.window-content {
  background: url(assets/backgrounds/sheet_background.webp) !important;
  color: #dfbb61 !important;
}
a.entity-link,
a.content-link,
a.inline-roll {
  background-color: #06151d;
  color: #dfbb61;
}
button {
  background: url(assets/backgrounds/card_detail_background.webp) !important;
  color: #dfbb61;
  border-style: solid;
  border-width: 2px;
  border-image: radial-gradient(black, #6b6c65) 1 !important;
  border-radius: 3px !important;
  box-shadow: 5px 10px 10px #000000;
  padding: 2px;
  margin: 4px;
}
select {
  color: #dfbb61 !important;
}
select option {
  background-color: #06151d;
}
input,
textarea {
  color: #dfbb61 !important;
}
.header-search input {
  background: url(assets/backgrounds/card_detail_background.webp) !important;
  border-style: solid !important;
  border-width: 3px !important;
  border-image: radial-gradient(black, #6b6c65) 1 !important;
  box-shadow: inset 2px 2px 10px 5px black !important;
  margin: 0 5px 5px 5px !important;
  padding: 4px !important;
  color: #dfbb61 !important;
  margin: 0 3px;
}
.header-search input::placeholder {
  color: #6b6c65 !important;
}
#navigation #nav-toggle {
  background: url(assets/backgrounds/card_detail_background.webp);
  border-style: solid;
  border-width: 3px;
  border-image: radial-gradient(black, #6b6c65) 1;
  box-shadow: inset 2px 2px 10px 5px black;
  margin: 0 5px 5px 5px;
  padding: 4px;
}
#navigation #scene-list .scene {
  background: url(assets/backgrounds/card_detail_background.webp);
  border-style: solid;
  border-width: 3px;
  border-image: radial-gradient(black, #6b6c65) 1;
  box-shadow: inset 2px 2px 10px 5px black;
  margin: 0 5px 5px 5px;
  padding: 4px;
}
#navigation #scene-list .scene .scene-name {
  color: #dfbb61 !important;
}
#navigation #scene-list .active {
  background: url(assets/backgrounds/card_detail_background.webp) !important;
  border-style: solid !important;
  border-width: 3px !important;
  border-image: radial-gradient(black, #6b6c65) 1 !important;
  box-shadow: inset 2px 2px 10px 5px black !important;
  margin: 0 5px 5px 5px !important;
  padding: 4px !important;
}
#navigation #scene-list .view {
  background: url(assets/backgrounds/card_background.webp) !important;
  border-style: solid !important;
  border-width: 3px !important;
  border-image: radial-gradient(black, #dfbb61) 1 !important;
  box-shadow: 5px 10px 10px #000000 !important;
  margin: 0 5px 10px 5px !important;
  padding: 4px !important;
  filter: none !important;
}
#navigation #scene-list .gm {
  background: url(assets/backgrounds/card_detail_background.webp) !important;
  border-style: solid !important;
  border-width: 3px !important;
  border-image: radial-gradient(black, #6b6c65) 1 !important;
  box-shadow: inset 2px 2px 10px 5px black !important;
  margin: 0 5px 5px 5px !important;
  padding: 4px !important;
  filter: grayscale();
}
.editor {
  height: 100%;
  min-height: 100px;
}
.editor .editor-content {
  padding: 8px;
  min-height: 100px;
  color: inherit;
}
.tox.tox-tinymce {
  background: rgba(0, 0, 0, 0) !important;
  padding: 2px;
}
.tox .tox-edit-area__iframe {
  background: rgba(0, 0, 0, 0) !important;
}
.tox .tox-toolbar__primary {
  background: url(assets/backgrounds/card_detail_background.webp) !important;
}
.tox .tox-tbtn {
  background-color: #6b6c65 !important;
  color: var(--font-color) !important;
}
.tox .tox-icon {
  color: var(--font-color) !important;
}
.skill-card {
  margin-bottom: 10px;
  color: #dfbb61;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.skill-card .skill-name {
  padding: 5px 2px 0 2px;
  text-align: left;
  width: calc(100% - 2px);
}
.skill-card .skill-value {
  padding: 2px 2px 0 2px;
  text-align: center;
  width: 25%;
}
.trait-card .trait-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.trait-card .trait-box .trait-name {
  padding: 5px 2px 0 2px;
  text-align: left;
}
.trait-card .trait-box .trait-value {
  padding: 2px 2px 0 2px;
  text-align: center;
  width: 25%;
}
.armor-card {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.armor-card .item-img {
  display: block;
  min-width: 150px;
  min-height: 150px;
  margin: 0 10px 0 3px;
}
.armor-card .d10-roll-icon {
  height: 10px;
  margin-right: 0px;
  margin-left: 2px;
}
.armor-card .armor-name {
  text-align: left;
  font-size: 1.25em;
  vertical-align: middle;
  text-align: center;
  margin-bottom: 10px;
}
.armor-card .description-box {
  padding: 8px;
  width: 100%;
  max-height: 150px;
  overflow: auto;
}
.armor-card .armor-box {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 8px;
  margin-right: 10px;
  min-width: 150px;
}
.armor-card .armor-box .armor-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 2px 2px 2px black;
}
.armor-card .armor-box .armor-stats .stat-name,
.armor-card .armor-box .armor-stats .armor-statvalue {
  padding: 2px 5px 2px 0px;
}
.armor-card .armor-box .armor-stats .stat-name {
  text-align: left;
  text-transform: capitalize;
}
.armor-card .armor-box .armor-stats .armor-statvalue {
  text-align: right;
  text-transform: capitalize;
}
.weapon-card {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.weapon-card .item-img {
  display: block;
  max-width: 100px;
  max-height: 100px;
}
.weapon-card .d10-roll-icon {
  height: 10px;
  margin-right: 0px;
  margin-left: 2px;
}
.weapon-card .weapon-name {
  text-align: left;
  font-size: 1em;
  vertical-align: middle;
  text-align: center;
}
.weapon-card .description-box,
.weapon-card .ammo-box {
  width: 100%;
  max-height: 150px;
  overflow: auto;
}
.weapon-card .center-table {
  margin-left: auto;
  margin-right: auto;
}
.weapon-card .weapon-box {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-right: 10px;
  min-width: 150px;
}
.weapon-card .weapon-box .weapon-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 2px 2px 2px black;
}
.weapon-card .weapon-box .weapon-stats .stat-name,
.weapon-card .weapon-box .weapon-stats .weapon-statvalue {
  padding: 2px 5px 2px 0px;
}
.weapon-card .weapon-box .weapon-stats .stat-name {
  text-align: left;
  text-transform: capitalize;
}
.weapon-card .weapon-box .weapon-stats .weapon-statvalue {
  text-align: right;
  text-transform: capitalize;
}
.skill-list,
.traits-list {
  width: 49%;
  color: #dfbb61;
}
.skill-list .attribute-pair,
.traits-list .attribute-pair {
  background: url(assets/backgrounds/card_detail_background.webp);
  border-style: solid;
  border-width: 1px;
  border-image: radial-gradient(black, #6b6c65) 1;
  box-shadow: inset 2px 2px 10px 5px black;
  padding: 2px 5px 2px 5px;
  width: 100%;
  margin: 0 0 2px 0;
}
.skill-list .attribute-pair .select-trait,
.traits-list .attribute-pair .select-trait {
  margin: 5px 5px 0 0;
}
.skill-list .attribute-pair .attribute-name,
.traits-list .attribute-pair .attribute-name {
  text-align: left;
  vertical-align: middle;
  padding: 2px;
  padding-top: 4px;
  width: calc(100% - 2px);
}
.skill-list .attribute-pair .attribute-value,
.traits-list .attribute-pair .attribute-value {
  text-align: right;
  width: 25px;
  font-weight: 700;
  margin-right: 10px;
}
.skill-list .item-delete,
.traits-list .item-delete {
  vertical-align: middle;
  padding-top: 4px;
}
.skill-list input,
.traits-list input {
  width: 20px;
  text-align: center;
  vertical-align: middle;
}
.spell-list {
  width: 100%;
}
.spell-list .spell-description,
.spell-list .spell-reagents {
  background: url(assets/backgrounds/card_detail_background.webp);
  border-style: solid;
  border-width: 1px;
  border-image: radial-gradient(black, #6b6c65) 1;
  box-shadow: inset 2px 2px 10px 5px black;
  padding: 2px 5px 2px 5px;
  width: 100%;
  margin: 12px 0 5px 0;
}
.spell-list .attribute-pair {
  background: url(assets/backgrounds/card_detail_background.webp);
  border-style: solid;
  border-width: 1px;
  border-image: radial-gradient(black, #6b6c65) 1;
  box-shadow: inset 2px 2px 10px 5px black;
  padding: 2px 5px 2px 5px;
  width: 100%;
  margin: 0 0 5px 0;
}
.spell-list .attribute-pair .attribute-name {
  text-align: left;
  vertical-align: middle;
  padding: 2px;
  padding-top: 4px;
  width: calc(100% - 2px);
  font-weight: 700;
}
.spell-list .attribute-pair .attribute-value {
  text-align: right;
  width: 25px;
  font-weight: 700;
  margin-right: 10px;
}
.spell-list .item-delete {
  vertical-align: middle;
  padding-top: 4px;
}
.spell-list input {
  width: 20px;
  text-align: center;
  vertical-align: middle;
}
.inventory-list {
  display: flex;
}
.inventory-list table {
  border: none;
}
.inventory-list table tr {
  background: unset;
  background-color: unset;
}
.inventory-list table td {
  vertical-align: middle;
  text-align: center;
}
.inventory-list table td .table-item.name {
  text-align: left !important;
}
.inventory-list .five {
  width: 5%;
}
.inventory-list .ten {
  width: 10%;
}
.inventory-list .fourty {
  width: 40%;
}
.character-description-box {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 5px;
}
.character-description-box .experiencebox {
  display: inline-flex;
}
.character-description-box .tablebox table tr {
  background-color: unset;
}
.character-description-box .tablebox table th {
  text-align: left;
  padding-left: 5px;
  padding-right: 5px;
}
.character-description-box .tablebox table td {
  border: none;
  padding-left: 5px;
  padding-right: 5px;
}
.character-description-box .tablebox table td input {
  text-align: right !important;
}
.health-info .stat-element {
  background: url(assets/backgrounds/card_detail_background.webp);
  border-style: solid;
  border-width: 1px;
  border-image: radial-gradient(black, #6b6c65) 1;
  box-shadow: inset 2px 2px 10px 5px black;
  padding: 2px 5px 2px 5px;
  width: 100%;
  margin: 0 0 10px 0;
}
.health-info .stat-element .red {
  color: red !important;
}
.health-info .stat-element .red .fas {
  color: inherit !important;
}
.health-info .stat-element .stat-value {
  text-align: center;
}
.health-info .stat-element .wounds-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.health-info .stat-element .wounds-icons .dot-container {
  color: #dfbb61;
}
.health-info .stat-element .wounds-icons .crossed {
  filter: invert();
}
.health-info .mook-health {
  margin: 5px 5px 10px 5px !important;
}
.cd10.sheet.item {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.cd10.sheet.item img {
  width: 150px;
  height: 150px;
  box-shadow: 5px 10px 10px #000000;
  background: url(assets/backgrounds/card_detail_background.webp);
}
.cd10.sheet.item input {
  border: none;
  background: none;
  color: #dfbb61;
  width: 50%;
}
.cd10.sheet.item select {
  border: none;
  color: #dfbb61;
  background-color: black;
  font-family: "Signika", sans-serif;
  background: url(assets/backgrounds/card_detail_background.webp);
}
.cd10.sheet.item select option {
  background-color: black;
  font-family: "Signika", sans-serif;
}
.cd10.sheet.item table {
  border: none;
  border-collapse: separate;
  border-spacing: 5px;
}
.cd10.sheet.item table tr {
  background: unset;
  background-color: unset;
}
.cd10.sheet.item table th,
.cd10.sheet.item table td {
  background: url(assets/backgrounds/card_detail_background.webp);
  border-style: solid;
  border-width: 1px;
  border-image: radial-gradient(black, #6b6c65) 1;
  box-shadow: inset 2px 2px 10px 5px black;
  vertical-align: middle;
  text-align: center;
  padding: 4px 5px 4px 5px;
}
.cd10.sheet.item .window-content {
  background: url(assets/backgrounds/card_background.webp);
  border-style: solid;
  border-width: 3px;
  border-image: radial-gradient(black, #dfbb61) 1;
  padding: 5px;
  color: #dfbb61;
}
.cd10.sheet.item .window-content form select {
  border: none;
  color: #dfbb61;
}
.cd10.sheet.item .window-content form h1 {
  border: none;
  text-align: center;
}
.cd10.sheet.item .window-content form h1 input {
  height: fit-content;
}
.cd10.sheet.item .window-content form hr {
  border-color: #dfbb61;
  width: 150px;
}
.cd10.sheet.item .window-content form .generic-info-box,
.cd10.sheet.item .window-content form .weapon-and-armor-stats,
.cd10.sheet.item .window-content form .editor-box {
  margin: 0 10px 10px 0;
}
.cd10.sheet.item .window-content form .generic-info-box {
  width: 100%;
  height: 150px;
  margin-left: 10px;
}
.cd10.sheet.item .window-content form .editor-box .editor {
  max-height: 140px;
  overflow: auto;
}
.cd10.sheet.item .window-content form .editor-box .editor .editor-content {
  min-height: 100px;
}
.small-weapon-armor-stats {
  margin-left: 0px;
}
.small-weapon-armor-stats .teachable-box input {
  width: auto;
}
.small-weapon-armor-stats .teachable-box .teachable-label {
  width: 100%;
}
.small-weapon-armor-stats .vertically-centered {
  align-items: center;
  vertical-align: middle;
}
.small-weapon-armor-stats .right-margin {
  margin-right: 10px;
}
.small-weapon-armor-stats .pad {
  padding-top: 4px;
}
.small-weapon-armor-stats table input {
  width: 25px !important;
  text-align: center;
  margin-right: 3px;
}
.cd10.sheet {
  min-height: 250px;
  min-width: 510px;
}
.cd10.sheet .hidden {
  display: none;
}
.cd10.sheet h1,
.cd10.sheet h2,
.cd10.sheet h3,
.cd10.sheet p,
.cd10.sheet label,
.cd10.sheet .sheet-header,
.cd10.sheet input,
.cd10.sheet textarea,
.cd10.sheet .stat-element {
  color: #dfbb61 !important;
}
.cd10.sheet h1,
.cd10.sheet h3 {
  text-align: center;
}
.cd10.sheet .quote textarea {
  padding-top: 10px;
  border: none;
  text-align: center;
  font-style: italic;
}
.cd10.sheet input {
  border: none;
  background: none;
}
.cd10.sheet .window-content {
  background: url(assets/backgrounds/sheet_background.webp);
}
.cd10.sheet .margin-bottom {
  margin-bottom: 10px;
}
.cd10.sheet .header-box,
.cd10.sheet .title-box,
.cd10.sheet .equipment-list {
  width: 100%;
}
.cd10.sheet .d10-roll-icon img {
  padding-top: 4px;
  margin-left: 5px;
  width: 15px;
  border: none;
}
.cd10.sheet .center-table {
  margin-left: auto;
  margin-right: auto;
}
.cd10.sheet table {
  border: none;
  border-collapse: separate;
  border-spacing: 5px;
}
.cd10.sheet table tr {
  background: unset;
  background-color: unset;
}
.cd10.sheet table th,
.cd10.sheet table td {
  background: url(assets/backgrounds/card_detail_background.webp);
  border-style: solid;
  border-width: 1px;
  border-image: radial-gradient(black, #6b6c65) 1;
  box-shadow: inset 2px 2px 10px 5px black;
  vertical-align: middle;
  text-align: center;
  padding: 4px 5px 4px 5px;
  color: inherit;
}
.cd10.sheet .sheet-tabs {
  margin-bottom: 10px;
}
.cd10.sheet .sheet-main-content {
  width: 80%;
}
.cd10.sheet .image-box img {
  background: url(assets/backgrounds/card_background.webp);
  border-style: solid;
  border-width: 3px;
  border-image: radial-gradient(black, #dfbb61) 1;
  margin: 0 5px 10px 5px;
  padding: 4px;
  width: 195px;
  height: auto;
  box-shadow: 5px 10px 10px #000000;
}
.cd10.sheet .fa-angle-double-up {
  padding-top: 5px;
}
.cd10.sheet .fifty {
  width: 50%;
}
.cd10.sheet .fifteen {
  width: 15%;
}
.cd10.sheet .twenty {
  width: 20%;
}
.cd10.sheet .ammo-select .far {
  padding-right: 8px;
}
.cd10.sheet .display-inline {
  display: inline;
}
.cd10.sheet .sheet-sidebar {
  padding: 10px;
  min-width: 225px;
}
.cd10.sheet .sheet-sidebar .stressBoxSelect {
  padding-top: 2px;
}
.cd10.sheet .sheet-sidebar .stressBox {
  padding: 8px 0 2px 0;
}
.cd10.sheet .sheet-sidebar .pad-top {
  padding-top: 4px;
}
.cd10.sheet .sheet-sidebar input {
  width: 45px;
  text-align: center;
}
.cd10.sheet .sheet-sidebar .sheet-money .money {
  padding-top: 4px;
}
.cd10-dialog {
  width: fit-content !important;
  height: fit-content !important;
  padding: 10px;
  background: url(assets/backgrounds/card_detail_background.webp);
  border-style: solid;
  border-width: 3px;
  border-image: radial-gradient(black, #6b6c65) 1;
  box-shadow: inset 2px 2px 10px 5px black;
  color: #dfbb61;
}
.cd10-dialog h3 {
  text-align: center;
}
.cd10-dialog .window-content {
  color: #dfbb61 !important;
  font-family: "Signika", sans-serif;
  background: url(assets/backgrounds/card_background.webp);
}
.cd10-dialog .window-content select,
.cd10-dialog .window-content input {
  border: none;
  color: #dfbb61;
  font-family: "Signika", sans-serif;
  background: url(assets/backgrounds/card_detail_background.webp);
}
.cd10-dialog .window-content select option {
  background-color: black;
  font-family: "Signika", sans-serif;
}
.physical-save-card .centered,
.physical-save-card .value-box {
  text-align: center;
}
.physical-save-card .value-box {
  width: 15%;
}
.physical-save-card .value-box,
.physical-save-card .stat-box {
  margin: 0;
  line-height: 24px;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid #999;
  border-radius: 3px;
  box-shadow: 0 0 2px #fff inset;
  word-break: break-all;
  margin-bottom: 5px;
}
.physical-save-card .stat-box {
  text-align: left;
  width: 80%;
}
.physical-save-card img {
  width: 100%;
  height: auto;
}
.chat-message {
  background: url(assets/backgrounds/card_background.webp);
  border-style: solid;
  border-width: 3px;
  border-image: radial-gradient(black, #dfbb61) 1;
  box-shadow: 5px 10px 10px #000000;
  margin: 0 5px 10px 5px;
  padding: 4px;
  border-radius: 5px;
}
.message-content {
  color: #dfbb61 !important;
  font-family: "Signika", sans-serif;
}
.cd10-image-container {
  display: flex;
  align-items: center;
  background: url(assets/backgrounds/card_background.webp);
  border-style: solid;
  border-width: 3px;
  border-image: radial-gradient(black, #dfbb61) 1;
  box-shadow: 5px 10px 10px #000000;
  margin: 0 5px 10px 5px;
  padding: 4px;
}
.cd10-image-container img {
  width: 100%;
  height: auto;
}
.dice-total,
.stat-box,
.value-box,
.dice-formula {
  background: url(assets/backgrounds/card_detail_background.webp) !important;
  border-style: solid !important;
  border-width: 3px !important;
  border-image: radial-gradient(black, #6b6c65) 1 !important;
  box-shadow: inset 2px 2px 10px 5px black !important;
  margin: 0 5px 5px 5px !important;
  padding: 4px !important;
  color: #dfbb61 !important;
  font-family: "Russo One", sans-serif;
}
.dice-tooltip {
  color: #dfbb61 !important;
}
.dice-tooltip .dice-rolls .roll.failure,
.dice-tooltip .dice-rolls .roll.min {
  filter: sepia(0.5) hue-rotate(-60deg) brightness(0.5) !important;
}
.dice-tooltip .dice-rolls .roll.success,
.dice-tooltip .dice-rolls .roll.max {
  filter: sepia(0.5) hue-rotate(60deg) brightness(1.5) !important;
}
.roll {
  margin-right: 5px !important;
}
.die {
  color: #dfbb61 !important;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.dice {
  background: url(assets/backgrounds/card_detail_background.webp);
  border-style: solid;
  border-width: 3px;
  border-image: radial-gradient(black, #6b6c65) 1;
  box-shadow: inset 2px 2px 10px 5px black;
  margin: 0 5px 5px 5px;
  padding: 4px;
}
.stat-box {
  text-align: left;
  width: 60%;
  font-size: 0.8em;
}
.value-box {
  text-align: center;
  width: 38%;
}
.bold {
  font-weight: 700;
}
.trait-box {
  color: #dfbb61 !important;
  font-family: "Russo One", sans-serif;
  font-size: 0.8em;
  margin-bottom: 5px;
}
#chat-controls .roll-type-select {
  background: url(assets/backgrounds/card_detail_background.webp);
  border-style: solid;
  border-width: 3px;
  border-image: radial-gradient(black, #6b6c65) 1;
  box-shadow: inset 2px 2px 10px 5px black;
  margin: 0 5px 5px 5px;
  padding: 4px;
  color: #dfbb61 !important;
  font-family: "Signika", sans-serif;
  padding: 0px;
}
#chat-form textarea {
  background: url(assets/backgrounds/card_detail_background.webp);
  border-style: solid;
  border-width: 3px;
  border-image: radial-gradient(black, #6b6c65) 1;
  box-shadow: inset 2px 2px 10px 5px black;
  margin: 0 5px 5px 5px;
  padding: 4px;
  color: #dfbb61 !important;
  font-family: "Signika", sans-serif;
}
.sheet-body .tab .editor {
  height: 100%;
}
.sheet-body,
.sheet-body .tab {
  height: 100%;
}
