/* Making the editor fill sheets */
.cd10.sheet.item form {
    display: flex;
    flex-direction: column;
}

.cd10.sheet.item .sheet-content {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.cd10.sheet.item .sheet-content .editor {
    height: 100%;
}