.cd10.sheet.item form {
  display: flex;
  flex-direction: column;
}
.cd10.sheet.item .sheet-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.cd10.sheet.item .sheet-content .editor {
  height: 100%;
}
.cd10.sheet.item .sheet-content select {
  margin-right: 2px;
}
.cd10.sheet.namedCharacter form {
  display: flex;
  flex-direction: column;
}
.cd10.sheet.namedCharacter .actor-image {
  max-width: 160px;
}
.cd10.sheet.namedCharacter .sheet-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 5px;
}
.cd10.sheet.namedCharacter .sheet-content .editor {
  height: 100%;
}
.cd10.sheet.namedCharacter .character-description-box {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 5px;
}
.cd10.sheet.namedCharacter .character-description-box .editor {
  height: 100%;
}
.cd10.sheet.namedCharacter .character-description-box .experiencebox {
  display: inline-flex;
}
.cd10.sheet.namedCharacter .character-description-box .tablebox th {
  text-align: left;
  padding-left: 5px;
  padding-right: 5px;
}
.cd10.sheet.namedCharacter .health-info .statelement {
  margin-bottom: 10px;
}
.cd10.sheet.namedCharacter .sheet-text {
  background: none;
  text-align: left;
  padding: 5px;
  margin-bottom: 2px;
}
.cd10.sheet.namedCharacter .stats-and-weapons {
  margin: 5px;
}
.cd10.sheet.namedCharacter .topsheet {
  display: flex;
  flex-direction: row;
}
.cd10.sheet.namedCharacter .sidebar {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.cd10.sheet.namedCharacter .sidebar .weapon-list {
  padding: 5px;
  margin-bottom: 10px;
}
.cd10.sheet.namedCharacter .sidebar .weapon-card,
.cd10.sheet.namedCharacter .sidebar .armor-card {
  display: flex;
  flex-direction: column;
}
.cd10.sheet.namedCharacter .sidebar .weapon-card .weapon-name,
.cd10.sheet.namedCharacter .sidebar .armor-card .weapon-name {
  text-transform: uppercase;
  text-align: center;
}
.cd10.sheet.namedCharacter .sidebar .weapon-card .weapon-stats,
.cd10.sheet.namedCharacter .sidebar .armor-card .weapon-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cd10.sheet.namedCharacter .sidebar .weapon-card .weapon-stats .stat-name,
.cd10.sheet.namedCharacter .sidebar .armor-card .weapon-stats .stat-name {
  padding: 2px;
  /*border: 1px solid black;
          border-radius: 5px;*/
  width: 49%;
  text-align: left;
  margin-bottom: 2px;
  text-transform: capitalize;
}
.cd10.sheet.namedCharacter .sidebar .weapon-card .weapon-stats .weapon-statvalue,
.cd10.sheet.namedCharacter .sidebar .armor-card .weapon-stats .weapon-statvalue {
  padding: 2px;
  /*border: 1px solid black;
          border-radius: 5px;*/
  width: 49%;
  text-align: center;
  margin-bottom: 2px;
  text-transform: capitalize;
}
.cd10.sheet.namedCharacter h1,
.cd10.sheet.namedCharacter h3,
.cd10.sheet.namedCharacter .statvalue {
  text-align: center;
}
.cd10.sheet.namedCharacter input {
  border: none;
  margin-bottom: 0.25em;
  text-align: center;
}
