.armor-card {
  display: flex;
  flex-direction: column;
}
.armor-card .armor-name {
  text-transform: uppercase;
  text-align: center;
}
.armor-card .armor-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.armor-card .armor-stats .stat-name {
  padding: 2px;
  width: 49%;
  text-align: left;
  text-transform: capitalize;
}
.armor-card .armor-stats .armor-statvalue {
  padding: 2px;
  width: 49%;
  text-align: center;
  text-transform: capitalize;
}
.character-description-box {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 5px;
}
.character-description-box .editor {
  height: 100%;
}
.character-description-box .experiencebox {
  display: inline-flex;
}
.character-description-box .tablebox th {
  text-align: left;
  padding-left: 5px;
  padding-right: 5px;
}
.character-description-box .tablebox td {
  border: none;
  padding-left: 5px;
  padding-right: 5px;
}
.health-info .stat-element {
  margin-bottom: 10px;
}
.health-info .stat-element .shock-icons {
  display: flex;
  flex-direction: row;
}
.health-info .stat-element .shock-icons .dot-container {
  color: white;
}
.health-info .stat-element .shock-icons .crossed {
  filter: invert();
}
.health-info .stat-element .wounds-icons {
  display: flex;
  flex-direction: row;
}
.health-info .stat-element .wounds-icons .dot-container {
  color: white;
}
.health-info .stat-element .wounds-icons .crossed {
  filter: invert();
}
.stat-value {
  text-align: center;
}
.cd10.sheet.item form {
  display: flex;
  flex-direction: column;
}
.cd10.sheet.item form .headerbox {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.cd10.sheet.item form .sheet-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.cd10.sheet.item form .sheet-content .editor {
  height: 100%;
}
.cd10.sheet.item form .sheet-content select {
  margin-right: 2px;
}
.cd10.sheet.item form .sheet-content .stat-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}
.cd10.sheet.item form .sheet-content .stat-box .value-box {
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.cd10.sheet.item form .sheet-content .stat-box .value-box .stat-name label {
  padding: 2px;
  text-align: left;
}
.cd10.sheet.item form .sheet-content .stat-box .value-box .stat-value {
  padding-left: 2px;
  padding-right: 2px;
  width: 50%;
}
.cd10.sheet.item form .sheet-content .stat-box .value-box .stat-value input {
  border: none;
  /*width: 25%;*/
  text-align: center;
}
.cd10.sheet.item form .sheet-content .stat-box .teachable-box {
  display: flex;
  flex-direction: row;
}
.cd10.sheet.item .headerbox {
  margin-bottom: 10px;
}
.cd10.sheet.item hr {
  border-bottom: 2px solid black;
}
.cd10.sheet.namedCharacter {
  max-width: 740px;
  min-height: 870px;
}
.cd10.sheet.namedCharacter form {
  display: flex;
  flex-direction: column;
}
.cd10.sheet.namedCharacter form input {
  /*border: 1px solid rgba(0, 0, 0, 0.1);*/
  border: none;
  background: none;
  margin-bottom: 0.25em;
  text-align: center;
}
.cd10.sheet.namedCharacter form .actor-image {
  max-width: 160px;
}
.cd10.sheet.namedCharacter form .sheet-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 5px;
}
.cd10.sheet.namedCharacter form .sheet-content .editor {
  height: 100%;
}
.cd10.sheet.namedCharacter form header h1 {
  font-size: 2em;
  margin-right: 5px;
  border: none;
}
.cd10.sheet.namedCharacter form .skill-trait-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.cd10.sheet.namedCharacter form .skill-trait-box .skill-card {
  display: inherit;
  flex-direction: column;
  align-content: flex-start;
  min-width: 265px;
  margin-right: 10px;
}
.cd10.sheet.namedCharacter form .skill-trait-box .skill-card .skill-card-header {
  display: flex;
}
.cd10.sheet.namedCharacter form .skill-trait-box .skill-card .skill-card-header h3 {
  text-align: center;
}
.cd10.sheet.namedCharacter form .skill-trait-box .skill-card .skill-card-header .item-create {
  margin-left: auto;
}
.cd10.sheet.namedCharacter form .skill-trait-box .skill-card .skill-list {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}
.cd10.sheet.namedCharacter form .skill-trait-box .skill-card .skill-list .skill-pair {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cd10.sheet.namedCharacter form .skill-trait-box .skill-card .skill-list .skill-pair .skill-name {
  padding: 5px 2px 0 2px;
  text-align: left;
  width: 75%;
}
.cd10.sheet.namedCharacter form .skill-trait-box .skill-card .skill-list .skill-pair .skill-value {
  padding: 2px 2px 0 2px;
  text-align: center;
  width: 10%;
}
.cd10.sheet.namedCharacter form .skill-trait-box .skill-card .skill-list .skill-pair .item-delete,
.cd10.sheet.namedCharacter form .skill-trait-box .skill-card .skill-list .skill-pair .skill-levelUp {
  padding-top: 5px;
}
.cd10.sheet.namedCharacter form .sheet-text {
  background: none;
  text-align: left;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 2px;
}
.cd10.sheet.namedCharacter form .stats-and-weapons {
  margin: 5px;
}
.cd10.sheet.namedCharacter form .topsheet {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.cd10.sheet.namedCharacter form .bio-box {
  margin-right: 10px;
}
.cd10.sheet.namedCharacter form .sidebar {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.cd10.sheet.namedCharacter form .sidebar .weapon-list {
  padding: 5px;
  margin-bottom: 10px;
}
.cd10.sheet.namedCharacter form .sidebar .armor-list {
  padding: 5px;
  margin-bottom: 10px;
}
.cd10.sheet.namedCharacter h1,
.cd10.sheet.namedCharacter h3 {
  text-align: center;
}
.skill-card .skill-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.skill-card .skill-box .skill-name {
  padding: 5px 2px 0 2px;
  text-align: left;
}
.skill-card .skill-box .skill-value {
  padding: 2px 2px 0 2px;
  text-align: center;
  width: 25%;
}
.trait-card .trait-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.trait-card .trait-box .trait-name {
  padding: 5px 2px 0 2px;
  text-align: left;
}
.trait-card .trait-box .trait-value {
  padding: 2px 2px 0 2px;
  text-align: center;
  width: 25%;
}
.weapon-card {
  display: flex;
  flex-direction: column;
}
.weapon-card .weapon-name {
  text-transform: uppercase;
  text-align: center;
}
.weapon-card .weapon-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.weapon-card .weapon-stats .stat-name {
  padding: 2px;
  width: 49%;
  text-align: left;
  text-transform: capitalize;
}
.weapon-card .weapon-stats .weapon-statvalue {
  padding: 2px;
  width: 49%;
  text-align: center;
  text-transform: capitalize;
}
