<section class="skill-card">
  <div class="skill-box">
    <div class="skill-name">
      <label>
        {{name}}
      </label>
    </div>
    <div class="skill-value" data-item-id="{{skill._id}}">
      <input class="item-create"
        type="text"
        value="{{skill.data.value}}"
        placeholder="0"
        data-dtype="Number"
      />
    </div>
  </div>
</section>