<section class="skill-card sheet-card">
    <div class="skill-name card-detail">
      <label>
        {{name}}
      </label>
    </div>
    <div class="skill-value card-detail">
      {{data.skillLevel.value}}
    </div>
</section>