<section class="skill-card cd10-card">
    <div class="skill-name cd10-card-detail">
      <label>
        {{name}}
      </label>
    </div>
    <div class="skill-value cd10-card-detail">
      {{data.skillLevel.value}}
    </div>
</section>