<form class="{{cssClass}}" autocomplete="off">
    <h3>
        {{name}}
    </h3>
    <div class="generic-info-box dark-background pad-8" style="color: @main-color;">
        {{{data.description.value}}}
    </div>
</form>