<section class="trait-card sheet-card">
  <div class="trait-box dark-background">
    <div class="trait-name">
      <label>
        {{name}}
      </label>
    </div>
    <div class="trait-value">
      <input
        name="data.skillLevel"
        type="text"
        value="{{data.skillLevel}}"
        data-dtype="Number"
      />
    </div>
  </div>
</section>