<section class="trait-card">
  <div class="trait-box">
    <div class="trait-name">
      <label>
        {{name}}
      </label>
    </div>
    <div class="trait-value">
      <input
        name="data.value"
        type="text"
        value="{{data.value}}"
        data-dtype="Number"
      />
    </div>
  </div>
</section>