<section class="sheet-combat-tab">
    <div class="stressBoxContainer flex-center flex-row">
        <div class="stressBoxSelect">
            <label>{{localize "cd10.sheet.stress"}}?</label>
            <a class="stressBox" data-type="text">
                <i class="far fa-{{#if this.actor.data.data.stressing.value}}check-{{/if}}square"></i>
            </a>
        </div>
    </div>
    {{#if (eq damageTypeSetting "simple")}}
        {{#each meleeWeapons as |weapon|}}
            {{#if weapon.data.isEquipped.value}}
                {{> "systems/cd10/templates/partials/equipment-cards/weapon-card-simple.hbs"}}
            {{/if}}
        {{/each}}
        {{#each rangedWeapons as |weapon|}}
            {{#if weapon.data.isEquipped.value}}
                {{> "systems/cd10/templates/partials/equipment-cards/weapon-card-simple.hbs"}}
            {{/if}}
        {{/each}}
        {{#each shields as |shield|}}
            {{#if shield.data.isEquipped.value}}
                {{> "systems/cd10/templates/partials/equipment-cards/armor-card-simple.hbs"}}
            {{/if}}
        {{/each}}
        {{#each armors as |armor|}}
            {{#if armor.data.isEquipped.value}}
                {{> "systems/cd10/templates/partials/equipment-cards/armor-card-simple.hbs"}}
            {{/if}}
        {{/each}}
    {{else if (eq damageTypeSetting "standard")}}
        {{#each meleeWeapons as |weapon|}}
            {{#if weapon.data.isEquipped.value}}
                {{> "systems/cd10/templates/partials/equipment-cards/weapon-card-standard.hbs"}}
            {{/if}}
        {{/each}}
        {{#each rangedWeapons as |weapon|}}
            {{#if weapon.data.isEquipped.value}}
                {{> "systems/cd10/templates/partials/equipment-cards/weapon-card-standard.hbs"}}
            {{/if}}
        {{/each}}
        {{#each shields as |shield|}}
            {{#if shield.data.isEquipped.value}}
                {{> "systems/cd10/templates/partials/equipment-cards/armor-card-standard.hbs"}}
            {{/if}}
        {{/each}}
        {{#each armors as |armor|}}
            {{#if armor.data.isEquipped.value}}
                {{> "systems/cd10/templates/partials/equipment-cards/armor-card-standard.hbs"}}
            {{/if}}
        {{/each}}
    {{else if (eq damageTypeSetting "complex")}}
        {{#each meleeWeapons as |weapon|}}
            {{#if weapon.data.isEquipped.value}}
                {{> "systems/cd10/templates/partials/equipment-cards/weapon-card-complex.hbs"}}
            {{/if}}
        {{/each}}
        {{#each rangedWeapons as |weapon|}}
            {{#if weapon.data.isEquipped.value}}
                {{> "systems/cd10/templates/partials/equipment-cards/weapon-card-complex.hbs"}}
            {{/if}}
        {{/each}}
        {{#each shields as |shield|}}
            {{#if shield.data.isEquipped.value}}
                {{> "systems/cd10/templates/partials/equipment-cards/armor-card-complex.hbs"}}
            {{/if}}
        {{/each}}
        {{#each armors as |armor|}}
            {{#if armor.data.isEquipped.value}}
                {{> "systems/cd10/templates/partials/equipment-cards/armor-card-complex.hbs"}}
            {{/if}}
        {{/each}}
    {{/if}}
</section>