<section class="sheet-combat-tab">
    {{#if equippedWeapon}}
    {{#if (eq system.gear.weapon.value.type "meleeWeapon")}}
        {{> "systems/cd10/templates/partials/equipment-cards/meleeWeapon-card.hbs" system.gear.weapon inSheet=true}}
    {{else}}
        {{> "systems/cd10/templates/partials/equipment-cards/rangedWeapon-card.hbs" system.gear.weapon inSheet=true}}
    {{/if}}
    {{/if}}
    {{#if equippedArmor}}
    <div class="weapon-card cd10-card">
        <h3>{{localize "cd10.sheet.armor"}}</h3>
        {{> "systems/cd10/templates/partials/equipment-cards/armor-card.hbs" system.gear.armor inSheet=true}}
    </div>
    {{/if}}
    {{#if equippedShield}}
    <div class="weapon-card cd10-card">
         <h3>{{localize "cd10.sheet.shield"}}</h3>
        {{> "systems/cd10/templates/partials/equipment-cards/shield-card.hbs" system.gear.shield inSheet=true}}
    </div>
    {{/if}}
</section>