<section class="sheet-combat-tab">
    {{#if equippedWeapon}}
    <h3>{{localize "cd10.sheet.weapon"}}</h3>
    {{#if (eq equippedWeapon.type "meleeWeapon")}}
    {{> "systems/cd10/templates/partials/equipment-cards/meleeWeapon-card.hbs" equippedWeapon inSheet=true}}
    {{else}}
    {{> "systems/cd10/templates/partials/equipment-cards/rangedWeapon-card.hbs" equippedWeapon inSheet=true}}
    {{/if}}
    {{/if}}
    {{#if equippedArmor}}
    <h3>{{localize "cd10.sheet.armor"}}</h3>
    {{> "systems/cd10/templates/partials/equipment-cards/armor-card.hbs" equippedArmor inSheet=true}}
    {{/if}}
    {{#if equippedShield}}
    <h3>{{localize "cd10.sheet.shield"}}</h3>
    {{> "systems/cd10/templates/partials/equipment-cards/shield-card.hbs" equippedShield inSheet=true}}
    {{/if}}
</section>