<section class="small-weapon-armor-stats flex-row flex-even">
    <div class="armor pad">
        <table>
            <tr>
                <th>
                    {{localize "cd10.armor.protection"}}
                </th>
                {{#if (eq this.item.type "shield")}}
                <th>
                    {{localize "cd10.armor.defenseValueShort"}}
                </th>
                {{/if}}
            </tr>

            <tr>
                <td>
                    <input name="system.protection" type="text" value="{{system.protection}}" data-dtype="number"/>
                </td>
                {{#if (eq this.item.type "shield")}}
                    <td>
                        <input name="system.defenseValue" type="text" value="{{system.defenseValue}}"/>
                    </td>
                {{/if}}
            </tr>
        </table>
    </div>
</section>