<div class="shield pad">
    <table>
        <tr>
            <th>{{localize "cd10.armor.defenseValueShort"}}</th>
                <th>{{localize "cd10.armor.Protection"}}</th>
        </tr>
        <tr>
            <td>
                <input name="system.defenseValue" type="text" value="{{system.defenseValue}}" data-dtype="number"/>
            </td>
            <td>
                <input name="system.protection" type="text" value="{{system.protection}}" data-dtype="number"/>
            </td>
        </tr>
    </table>
</div>